* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", "Poppins", "Sonsie One", sans-serif, cursive;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-style: inherit;
}
/* Common */

.container {
    width: 1140px;
    max-width: calc(100% -48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
.btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 57px;
    color: #fff;
    text-align: center;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-title {
    color: #152427;

    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.625;
}

.section-desc {
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;

    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.625;
}

.section-heading {
    color: var(--primary-color-black, #152427);

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.238;
}
/* ============================ */

.header {
    min-height: 100vh;
    padding-top: 28px;
}

.header__top {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    padding: 8px 19px 26px 19px;
    font-size: 18px;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 28px;
    color: #575d5e;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    bottom: 0;
    left: 19px;
    flex-shrink: 0;
    color: #152427;
    background: #143c3c;
}

.header__btn {
    margin-left: 69px;
}
.header__active-line {
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
    margin-top: -5px;
}
/* hero */
.hero {
    position: relative;
    padding-top: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    width: 368px;
    color: var(--primary-color-black, #152427);

    /* Heading/H2 50px Extra bold */
    font-size: 50px;
    font-family: Public Sans;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    color: var(--text-color-black-gray, #575d5e);

    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.hero__watch-video {
    padding: 0 8px;
    display: flex;
    height: 57px;
    column-gap: 15px;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #fff;
    transition: 0.25s;
}

.hero__watch-video:hover {
    box-shadow: -6px 9px 64px -4px rgba(196, 192, 192, 0.25);
}

.header-hero__half-circle-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}

.hero__watch-video--icon {
    width: 44px;
    height: 44px;
    rotate: 45deg;
}

.hero__watch-video--name {
    color: #152427;
    text-align: center;

    /* Paragraph/h3 18px bold */
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.67;
}
.hero__media {
    position: relative;
    display: flex;
    column-gap: 20px;
    width: 56.7%;
    padding-bottom: 87px;
}

.hero__img {
    width: 202px;
    height: 466px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 110px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-color: lightgray;
}

.header-hero__bgc-blu {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 50%; */
    background-color: #4dbb9a;
    filter: blur(137px);
}
.hero__decor-icon {
    position: absolute;
}

.hero__decor-icon:nth-of-type(1) {
    top: 28px;
    left: 297px;
}

.hero__decor-icon:nth-of-type(2) {
    bottom: 0;
    right: 52px;
    rotate: 180deg;
}

/* Section-logo */

.section-logo {
    margin-top: 42px;
}

.section-logo__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 201px;
    background-color: #e2eddf;
    border-radius: 100.5px;
}

/*services  */
.services {
    margin-top: 106px;
}
.section-title {
    display: flex;
    align-items: center;
    column-gap: 21px;
}
.section-title::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.services_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
}

.services__heading::before {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 2px;
    bottom: 19px;
    right: 103px;
    background-color: #152427;
}

.services__control {
    display: flex;
    column-gap: 17px;
}

.services__control--btn {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #e2eddf;
    color: #152427;
    transition: 0.25s;
}

.services__control--btn:hover {
    cursor: pointer;
    background: #143c3c;
    color: #fff;
}

.services__control-next {
    rotate: 180deg;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item {
    padding-bottom: 23px;
}
.services-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item:hover .services-item__img {
    transform: scale(1.1);
}

.services-item__thumb {
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.services-item__img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.services-item__info {
    margin-left: 18px;
}

.services-item__heading {
    margin-top: 24px;
    color: var(--primary-color-black, #152427);

    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-family: Poppins;
    font-weight: 600;
}

.services-item__desc {
    max-width: 268px;
    margin-top: 18px;
    color: var(--text-color-light-gray, #7d8188);

    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.714;
}
/* About */
.about {
    margin-top: 157px;
}

.about__inner {
    display: flex;
    column-gap: 64px;
}

.about__media {
    width: 52%;
    position: relative;
    margin-top: 13px;
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
}

.about__img:first-of-type {
    margin-top: 90px;
}

.about__cart {
    position: absolute;
    right: -9px;
    bottom: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__cart__info {
    padding: 19px 17px 12px 23px;
}

.about__cart__heading {
    color: var(--primary-color-black, #152427);
    font-size: 1.4rem;
    font-family: Public Sans;
    font-weight: 600;
}

.about__cart__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 10px;
    font-family: Public Sans;
    line-height: 1.4;
    opacity: 0.4000000059604645;
}

.about__cart-number {
    margin-top: 10px;
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.4;
}
.about__cart__line {
    margin-top: 3px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__cart__line--number {
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__cart__loading {
    display: block;
    margin-top: 3px;
    color: var(--primary-color-black, #152427);
    font-size: 10px;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
}

.about__cart__circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about__cart__circle-inner {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.about__cart__teams {
    margin-top: 5px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: space-between;
}

.about__cart__teams {
    color: var(--primary-color-black, #152427);
    font-size: 1rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.4;
}

.about__cart__img {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}

.about-heading {
    margin-top: 20px;
}

.about-desc {
    margin-top: 11px;
    color: var(--text-color-light-gray, #7d8188);

    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.857;
}
.about__coundowns {
    width: 100%;
}
.about__coundown {
    margin-top: 36px;

    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-bottom: 20px;
    border-color: #83a17d;
    border-bottom: 1px solid;
}

.about__coundown--number {
    color: var(--primary-color-black, #152427);

    /* Heading/H3 42px bold */
    font-size: 4.2rem;
    font-family: Poppins;
    font-weight: 600;
    line-height: 52px;
}

.about__coundown--desc {
    display: flex;
    width: 364px;
    height: 52px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--text-color-light-gray, #7d8188);

    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.714;
}

/* process */
.process {
    margin-top: 79px;
}

.process-title {
    padding-top: 39px;
}

.process__heading {
    position: relative;
    max-width: 477px;
    margin-top: 20px;
}

.process__heading::before {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 2px;
    bottom: 18px;
    right: -9px;
    background-color: #152427;
}

.process__list {
    margin-top: 80px;
}

.process-item {
    position: relative;
    display: flex;
    padding: 60px 0 60px 20px;
    align-items: center;
}

.process-item:first-child {
    border-radius: 33px;
    background: var(--scondery-color-light-green, #e2eddf);
    background: #e2eddf;
}

.process-item + .process-item {
    border-bottom: 3px solid;
    border-color: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}
.process-item__info {
}
.process-item__number {
    width: 109px;
    margin-right: 49px;
    color: var(--primary-color-black-green, #143c3c);

    /* Heading/H1 72px bold */
    font-size: 72px;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    line-height: 52px;
}
.process-item__heading {
    color: var(--primary-color-black, #152427);

    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-family: Poppins;
    font-weight: 600;
}

.process-item__more {
    display: block;
    margin-top: 22px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 18px;
    font-family: Poppins;
    line-height: 18px;
}

.process-item__desc {
    margin-left: auto;
    right: 41px;
    width: 572px;
    color: var(--text-color-light-gray, #7d8188);

    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.55;
}

.process-item__img {
    position: absolute;
    width: 450px;
    height: 444px;
    object-fit: cover;
    bottom: 0;
    right: 90px;
}

.projects {
    margin-top: 148px;
    background: #143c3c;
    padding-bottom: 66px;
}

.prokects__inner {
    padding-top: 116px;
}

.projects-row {
    display: flex;
    justify-content: space-between;
}
.project-column {
    width: 570px;
}
.projects__heading {
    width: 457px;
    color: #e7f9f9;
}
.projects__link,
.projects__desc {
    color: #6a8383;
    color: var(--scondery-color-gray, #6a8383);

    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.55;
}

.project__control {
    margin-top: 13px;
    display: flex;
    align-items: center;
    /* display: flex; */
}

.projects__link {
    display: block;
    color: #fff;
    margin-right: 26px;
}

.project__control--btn {
    border: none;
    rotate: 180deg;
    width: 20px;
    color: #80a07b;
    background: transparent;
}

.project__video {
    margin-top: 72px;
    height: 544px;
    width: 1140px;
    overflow: hidden;
    border-radius: 22px;
    object-fit: cover;
}
/* features */
.features {
    margin-top: 140px;
}

.features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    width: 520px;
    text-align: center;
}

.features__desc {
    margin-top: 20px;
    width: 547px;
    text-align: center;
}

.features__list {
    display: flex;
    margin-top: 105px;
    column-gap: 45px;
}

.features-item {
    width: 350px;
    display: flex;
    height: 362px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: 0.25s;
}

.features-item:hover {
    border-radius: 160px;
    /* background: ; */
    border: #fff;
    transform: translateY(-60px);
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features-item__title {
    margin-top: 24px;
    color: #152427;

    /* Paragraph/h1 20px semibold */
    font-size: 2rem;
    font-family: Poppins;
    font-weight: 600;
}

.features-item__desc {
    margin-top: 9px;
    width: 286px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 14px;

    line-height: 24px;
}

.articles {
    margin-top: 185px;
    padding-bottom: 102px;
}

.articles__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles__heading {
    position: relative;
    margin-top: 10px;
    width: 520px;
}

.articles__desc {
    width: 409px;
    color: var(--text-color-light-gray, #7d8188);

    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.625;
}

.articles__heading::before {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 2px;
    bottom: 19px;
    right: -51px;
    background-color: #152427;
}

.articles__list {
    margin-top: 90px;
    display: flex;
    column-gap: 30px;
}

.articles-item:hover {
    border-radius: 40px 40px 20px 20px;
    background: var(--text-color-white, #fff);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.articles-item:hover .articles-item__img {
    transform: scale(1.1);
    border-radius: 40px 40px 0px 0px;
}

.articles-item__thumb {
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
}

.articles-item__img {
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.articles-item__info {
    padding: 30px;
}

.articles__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 107px;
    text-align: center;
    font-size: 1rem;
    background: #e2eddf;
    color: #143c3c;
    border: none;
    transition: 0.25s;
}

.articles__btn:hover {
    color: #fff;
    background: #143c3c;
}

.articles-item__link {
    display: block;
    margin-top: 13px;
    color: var(--primary-color-black-green, #143c3c);

    /* Paragraph/h3 18px bold */
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.67;
}

.articles-item__line {
    margin-top: 9px;
    width: 297px;
    height: 1px;
    background: #c4c4c4;
}

.articles-item__date {
    margin-top: 25px;
    color: var(--text-color-black-gray, #575d5e);

    /* Paragraph/10px */
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
}

.footer {
    padding-top: 72px;
    padding-bottom: 50px;

    background: #143c3c;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__sign-up {
    color: var(--text-color-white, #fff);

    /* Heading/H4 32px semibold */
    font-size: 3.2rem;
    font-family: Poppins;
    font-weight: 500;
}

.footer-form {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.form__input {
    width: 300px;
    height: 35px;
    border: none;
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    background: transparent;
}

.form__input::placeholder {
    width: 100%;
    color: var(--scondery-color-gray, #6a8383);

    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-family: Poppins;
    font-weight: 600;
}

.form__sumbit {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #c4c4c4;
}

.footer__column__line {
    margin-top: 20px;
    width: 354px;
    height: 1px;
    background: var(--scondery-color-gray, #6a8383);
}

.footer__right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer__heading {
    color: var(--text-color-white, #fff);

    /* Paragraph/h2 18px medium */
    font-size: 1.8rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 1.55;
}

.footer__item__link {
    color: var(--scondery-color-gray, #6a8383);

    /* Paragraph/h5 16px medium */
    font-size: 1.6rem;
    font-family: Public Sans;
    font-weight: 500;
    line-height: 2.25;
}
.footer__cta-group {
    margin-top: 50px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.cta-item__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    transition: 0.25s;
}
.cta-item__link:hover {
    background: #a75325;
}

.cta-item__icon {
    width: 40%;
    height: 40%;
}

.footer__line {
    margin-top: 45px;
    height: 1px;
    background: linear-gradient(
        14deg,
        #143c3c 0%,
        #295a5a 53.48%,
        rgba(38, 82, 82, 0) 100%
    );
}

.footer__copyright {
    padding: 28px 0 42px;
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #aab3ba;
}
