* {
    box-sizing: border-box;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6 rem;
    font-family: "poppins", "sans-serif";
}
/* Common */

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.main-content {
    width: 1170px;
    max-width: calc(100% -28px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 16px;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 9999px;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    /* or 117% */

    letter-spacing: -0.02em;

    color: #171100;
}
.heading.lv1 {
    font-size: 5.8rem;
    line-height: 68px;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 48px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}
/* ============================= */

/* Header */
.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -27px;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    /* display: inline-block; */
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
    font-weight: 600;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    display: block;
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;

    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding-top: 56px;
    background-color: #fffcf4;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    position: relative;
    width: 48%;
}

.header .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    /* vertical-align: bottom; */
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .item + .item {
    margin-top: 28px;
}
.hero-summary .icon {
    height: 48px;
    width: 48px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fffcf4;
}

.hero-summary .info {
    margin-left: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1.86;
    /* identical to box height, or 186% */

    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #171100;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    /* or 167% */

    color: #5f5b53;
}

.hero .cta-group {
    margin: 32px 0 48px;
    display: flex;
    align-items: center;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    border: none;
    background: #ffffff;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.watch-video .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    color: #171100;
}
.hero .stats {
    margin: 8px 0 0 -28px;
}
.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;

    color: #171100;
}

/* Popular */

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* Feedback */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    /* identical to box height, or 142% */

    color: #f7f7f7;
}

.feedback-item .info .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */
    color: #bfbcb3;
}

.feedback-item .info .dots {
    display: flex;
    margin-top: 28px;
    gap: 6px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}
.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item .content blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    /* or 154% */

    color: #ffffff;
}

/* Features */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images img.lower {
    margin-top: 34px;
}

.features .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 41%;
}

.features .content .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 43px;
    min-width: 137px;
    color: #ffffff;
    background: var(--primary-color);
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto auto;
    font-size: 1.6rem;
    line-height: 1.75;

    color: #696262;
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    width: calc(33.33% - 20px);
    background: #ffffff;
    border-radius: 16px;
    flex-shrink: 0;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    display: inline-flex;
    position: relative;
    padding-bottom: 12px;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */

    color: #5f5b53;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog .item .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -27px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */

    color: #171100;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary-color);
    cursor: default;
}
/* Footer */
.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.67%;
}

.footer .row .column:nth-child(1) {
    width: 35%;
}

/* .footer .row:nth-child(3) {
    width: 23%;
}

.footer .row:nth-child(4) {
    width: 20%;
} */

.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;

    color: #bfbcb2;
}

.footer .socials {
    display: flex;
    gap: 18px;
}

.footer .title {
    display: inline-block;
    border-bottom: 1px solid #59554b;
    padding: 0 48px 14px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    font-size: 1.4rem;
    line-height: 26px;
    margin-bottom: 12px;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */

    color: #ffffff;
}

.footer .copyright {
    padding: 28px 0;
    font-size: 1.4 rem;
    line-height: 1.86;
    /* identical to box height, or 186% */

    text-align: center;

    color: #807d74;
}
